%li.test-settings.error
  %p.message
    %span.status error
    Could not write document to database.  Typically, this error happens with a read-only user.

  %p
    %a{href: "/add-user-to-mongohq-database"}
      Click here to go back to the instructions for adding a user to your database.
