%li.test-settings.error
  %p.message
    %span.status error
    We couldn't authenticate against your database.  Typically, this is a username / password error.
    If you added a username / password earlier, just delete and re-add.  Sometimes, you know . . . typos.


  %p
    %a{href: "/add-user-to-mongohq-database"}
      Click here to go back to the instructions for adding a user to your database.
