
%li.test-settings.error
  %p.message
    %span.status error
    No environmental variable is set for <span class='code'>MONGO_URL</span>

  %p
    %a{href: "/add-environmental-variable"}
      Click here to go back to the instructions for adding an environmental variable.
