%h1 Add User to MongoHQ Database

%p
  Next, we will add a username / password to your database.  When looking
  at the new database collections page:

%ol.instruction-list
  %li
    %p Click "Admin" link:
    %img{src: "/images/screenshots/view-collections.png"}

  %li
    %p Click "Users" tab
    %img{src: "/images/screenshots/admin.png"}

  %li
    %p Add your username / password for the database
    %img{src: "/images/screenshots/create-user.png"}

%p.previous
  <<
  %a{href: "/create-mongohq-database"} Create MongoHQ Database
%p.next
  %a{href: "/add-environmental-variable"} Add Environmental Variable
  >>
