%h1 Create MongoHQ Database

%p
  Next, let's create a database.  After creating the account, the next page will display
  the following 
  %em Add Database
  form.  Do the following steps:
%ol
  %li Click the "Sandbox" plan type
  %li Name your database
  %li Click "Create Database"

%p See a screenshot of the form below:

%img{src: "/images/screenshots/create-database.png"}

%p.previous
  <<
  %a{href: "/create-mongohq-account"} Create MongoHQ Account
%p.next
  %a{href: "/add-user-to-mongohq-database"} Add User to MongoHQ Database
  >>
