%h1 Create MongoHQ Account

%p
  %a{href: "https://www.mongohq.com/signup", target: "_blank"}
    Click here to go to the MongoHQ Sign Up Page
  and complete the form:

%a{href: "https://www.mongohq.com/signup", target: "_blank"}
  %img{src: "/images/screenshots/create-account.png"}

%p.previous
  <<
  %a{href: "/welcome"} Table of Contents
%p.next
  %a{href: "/create-mongohq-database"} Create MongoHQ Database
  >>
