%h1 Test MongoHQ Connection

%p
  Let's test your configuration!  Below, we will walk through the debugging process,
  and see if all checks out.

%ol
  - CONNECTION_PROCESS.each do |check|
    - if @connection_state.include?(check)
      = haml "partials/#{check}_success".to_sym
    - else
      = haml "partials/#{check}_error".to_sym
      - break

- if @success
  .final-success
    %p All checks out properly -- you are ready to build :)
    %p
      To get started, here is a $50 service credit from MongoHQ:
      %a{href: "http://tour.mongohq.com/c/openshift"} http://tour.mongohq.com/c/openshift

- else
  .final-error
    %p An error occurred while testing your connection.  See the debugging statements above.


%p.previous
  <<
  %a{href: "/add-environmental-variable"} Add Environmental Variable
