%h1
  MongoHQ / OpenShift Tutorial Quick Start
%p
  Since you've gotten here, then you have successfully created a project based on the 
  MongoHQ / OpenShift Quick Start application.  We will walk through the following 
  steps to connect to a MongoHQ database:

%p
  To give you some backstory, <a href='https://www.mongohq.com/'>MongoHQ</a> is a fully-managed platform used by developers 
  to deploy, host, and scale Mongo databases. Now, let's get started:

%ol
  %li
    %a{href: "/create-mongohq-account"} Create MongoHQ account
  %li
    %a{href: "/create-mongohq-database"} Create MongoHQ database
  %li
    %a{href: "/add-user-to-mongohq-database"} Add user to MongoHQ database
  %li
    %a{href: "/add-environmental-variable"} Add environmental variable to OpenShift
  %li
    %a{href: "/test-mongohq-connection"} Test your MongoHQ connection
  %li
    %a{href: "/add-data"} Add data to your database

%p.next
  %a{href: "/create-mongohq-account"} Create MongoHQ Account
  >>
